.card {
    padding: 0 2.8em ;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 0px 5px;
    text-align: center;
}

.card:hover, .active{
    cursor: pointer;
    background-color: #000000;
    color: #fff;
}